<% if @artists.empty? && @albums.empty? && @tracks.empty? %>
	Woah! Your taste is so eclectic it's broken the internet. We didn't find anything to match that!
<% else %>
		<div>
		<h2>Tracks</h2>
			<% if @tracks.empty? %>
				<p>Sorry, there aren't any songs with that title. Feeling inspired? Write it!</p>
			<% else %>	
				<% @tracks.each_with_index do |track, index| %>
					<div class="search-results">
						<div class="art"><img src="<%= track.album.images.first['url'] %>" height="50px"></div>
						<div class="details">
							<%= track.name %><br>
							<%= track.album.artists.first.name %>
						</div>
						<!-- Split button to add track to playlist --> 
						<div class="actions">
							<div class="btn-group">
							  <%= link_to fa_icon('plus lg') + ' Add track to ' + current_user.playlists.last.name, '#', class: "btn btn-primary", id: 'addtolastplaylist' + index.to_s %>
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							  	<% current_user.playlists.each do |playlist| %>
							  		<li><%= link_to 'Add track to ' + playlist.name, '#', id: 'addtoplaylist-' + index.to_s + playlist.id.to_s %></li>
							  		<script>
								  		$('#addtoplaylist-<%= index.to_s %><%= playlist.id.to_s %>').click(function() {
										$.ajax({
											type: 'post',
											data: '&uri=<%=track.uri %>' + '&name=<%=track.name %>' + '&artist=<%=track.album.artists.first.name %>' + '&album=<%=track.album.name %>' + '&playlist_id=<%=playlist.id %>' + '&spotify_id=<%=track.id%>',
											dataType: 'script',
											url: '/pages/add_to_playlist/' });
										});
							  		</script>
							    <% end %>
							    <li class="divider"></li>
							    <li><%= link_to fa_icon('music lg') + ' Create new playlist', '#', :'data-toggle' => 'modal', :'data-target' => '.new-playlist-modal' %></li>
							  </ul>
							</div>
								<!-- JavaScript to call add track to playlist function in pages controller and pass params -->
							<script>
								$('#addtolastplaylist<%=index.to_s%>').click(function() {
									$.ajax({
										type: 'post',
										data: '&uri=<%=track.uri %>'+ '&spotify_id=<%=track.id%>' + '&name=<%=track.name %>' + '&artist=<%=track.album.artists.first.name %>' + '&album=<%=track.album.name %>' + '&playlist_id=<%= current_user.playlists.last.id %>',
										dataType: 'script',
										url: '/pages/add_to_playlist/' });
								});
							</script>
						</div>
					</div>
				<% end %>
			<% end %>

	</div>
<% end %>