<div class="container">
	<% if @speaker == nil %>
		<div> 
			Sonos couldn't be found
		</div>
	<% else %>		

	<div class="now-playing">
			
	</div>

	<div>
		<%= render 'play_pause' %>
	</div>

	<div class="form-group">
		<%= text_field_tag :search, params[:search], placeholder: "What do you want to listen to?", id: "spotifysearch", class: "form-control col-lg-12" %>
		<%= link_to fa_icon('spotify 2x') + ' Search Spotify', '#', id: "search-button", remote: true, class: "btn btn-search  col-lg-12" %> 
	</div>	

	<div id="search-results">

	</div>	



	<div class="track-management">
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#queue" role="tab" data-toggle="tab">Queue</a></li>
		  <li><a href="#playlists" role="tab" data-toggle="tab">Playlists</a></li>
		  <li><a href="#stats" role="tab" data-toggle="tab">Stats</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="queue">
		  	<h2>Tracks in Queue</h2>
			<%= render 'queue' %>
		  </div>
		  <div class="tab-pane" id="playlists">
		  	<h2>Playlists</h2>
		  	<% @playlists.each do |playlist| %>
		  		<%= playlist.name %>
		  		<%= playlist.user.first_name %>
		  		<% end %>
		  </div>
		  <div class="tab-pane" id="stats">
		  	<h2>Stats</h2>
		  </div>
		</div>
		
	</div>
	<% end %>
</div>


	


<script>
$('#search-button').click(function() {
	var search_val = $('#spotifysearch').val().trim();
		$.ajax({
			type: 'post',
			data: '&search=' + search_val,
			dataType: 'script',
			url: '/pages/spotify_search/' });
	});
</script>

<script>
	$('#addtoqueue').click(function() {
		$.ajax({
			type: 'post',
			data: '&uri=2CJtimCSGAn8x6RE3irZFV',
			dataType: 'script',
			url: '/pages/add_to_queue/' });
	});

	$(document).ready(function () {
    // will call refreshPartial every 3 seconds
    setInterval(refreshPartial, 3000)
});

	function refreshPartial() {
  $.ajax({
    url: "/pages/refresh_part/",
    type: "POST",
    dataType: "script",
    success: function(data) {
             console.log("Called refresh_part");
    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert("Error: " + xhr.status + " " + thrownError);
    }
  });
}
</script>