<div class="container">
	<h2><%= @playlist.name %> by <%= @user.first_name %> </h2>
	<div>
		<% @playlist.tracks.each do |track| %> 
			<%= track.name %><br>
			<%= track.spotify_id %>
			<%= link_to 'add to queue', '', id: "add-button-" + track.id.to_s, remote: true, class: "btn btn-primary" %><br>
				<script>
					$('#add-button-<%= track.id %>').click(function() {
						$.ajax({
							type: 'post',
							data: '&spotify_id=<%= track.spotify_id %>',
							dataType: 'script',
							url: '/pages/add_single_track_to_play_queue/' });
					});
				</script>
	
		<% end %>
	</div>
</div>